<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Festival Detail Component</title>

        <script src="./node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="./node_modules/handlebars/dist/handlebars.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./assets/festival.css">
        <script id="festival-template" type="text/x-handlebars-template">
            <festival>
                {{#each this}}
                    <div class="panel panel-default">
                        <div class="panel-heading"
                             data-lat="{{lat location.point.0.Point.posList}}"
                             data-lng="{{lng location.point.0.Point.posList}}">
                            <a href="#map"><h3 class="panel-title" >{{ label.0.value}} </h3></a>
                        </div>
                        <div class="panel-body hide">
                            {{{ description.0.value }}}
                            <div id="map"></div>
                        </div>
                    </div>
                {{/each}}
            </festival>

        </script>

        <script src="./assets/festival.js"></script>


    </head>
    <body>

        <div class="container-fluid">
            <div id="app"></div>
        </div>


        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNDd_RRcOP4Qzi72eBbl69nMlnGhYKjZ0">
        </script>
    </body>
</html>